<% 
const topPosts = site.posts.filter(post=>post.top).data

const bannerInfo = topPosts.map(v=>{
    return {
        date: date(v.date, theme.dateFormat),
        tags: v.tags && v.tags.data.map(a=>{return {name: a.name, path: fillPath(a.path)}}) || [],
        path: fillPath(v.path),
        img: v.img,
        title: v.title
    }
})

const recommend = site.posts.filter(post => post.recommend).data
const recommendInfo = recommend.map(v=>{
    return {
        date: date(v.date, theme.dateFormat),
        tags: v.tags && v.tags.data.map(a=>{return {name: a.name, path: fillPath(a.path)}}) || [],
        path: fillPath(v.path),
        img: v.img,
        title: v.title,
        categories: v.categories.data.map(data => {
            return {
                name: data.name,
                path: fillPath(data.path)
            }
        })
    }
})

const preset = {
    jsVar: {
        author: theme.author,
        bannerInfo,
        typedConfig: theme.subtitle,
        recommendInfo,
        bannerSwitchTime: theme.banner.switchTime,
        recommend: theme.recommend.enable
    }
}

%>
<%- partial('head', preset, {cache: true}) %>

<header>
    <%- include("header/header-big.ejs") %> 
    <%- partial('partial/banner', {posts: topPosts}) %> 
    <% if(theme.svgBackground.enable){ %>
        <%- partial('partial/svg') %>
    <% } %>
</header>

<main id="main">
<% if(theme.subtitle.enable) {%> 
    <div class="typed">
        <span class="typed-main"></span>
    </div> 
<% } %> 
    
<% if(theme.recommend.enable) {%> 
    <%- partial("partial/recommend", {recommendInfo}) %> 
<% } %> 
<%- partial("partial/articles", {posts: site.posts}) %>
</main>

<%- include("footer.ejs") %> 
<%- include("foot.ejs")%>