<% 
const recommendPosts = []
site.posts.forEach(post => {
    if (post.top) {
        recommendPosts.push(post)
        return
    }
})

const bannerInfo = recommendPosts.map(v=>{
    return {
        date: date(v.date, theme.dateFormat),
        tags: v.tags && v.tags.data.map(a=>{return {name: a.name, path: fillPath(a.path)}}) || [],
        path: fillPath(v.path),
        img: v.img,
        title: v.title
    }
})
const preset = {
    jsVar: {
        bannerInfo,
        typedConfig: theme.subtitle
    }
}

%>
<%- partial('head', preset, {cache: true}) %>

<header>
    <%- include("header/header-big.ejs") %> 
    <%- partial('partial/banner', {posts: recommendPosts}) %> 
</header>

<main id="main">
<% if(theme.subtitle.enable) {%> 
    <div class="typed">
        <span class="typed-main"></span>
    </div> 
<% } %> 
    
<% if(theme.recommend.enable) {%> 
    <%- partial("partial/recommend") %> 
<% } %> 
</main>

<%- include("footer.ejs") %> 
<%-include("foot.ejs")%>