<div class="recommend" id="<%= theme.recommend.name %>">
    <div class="recommend__head clearfix">
        <a class="fl" href="#<%= theme.recommend.name %>"><span>#</span> <span><%= theme.recommend.name %></span></a>
        <div class="fr">
            <span class="recommend__btn recommend__btn-prev iconfont icon-cc-arrow-left"></span>
            <span class="recommend__btn recommend__btn-next recommend__btn-active iconfont icon-cc-arrow-right"></span>
        </div>
    </div>
    <div class="recommend__body">
        <% 
        for(const i of recommendInfo){ %>
            <div class="recommend__body__box radius">
                <div class="recommend__body__box-img cover lazy" data-bg="<%= i.img %>"></div>
                <div class="recommend__body__box-wrap">
                    <div class="clearfix recommend__body__box-tags">
                        <% for(const j of i.tags){ %>
                            <%- partial('partial/tag', {info: j, hover: false}) %>   
                        <% } %>
                    </div>
                    <a href="<%=i.path%>" class="recommend__body__box-title" title="<%=i.title%>"><span><%=i.title%></span></a>
                    <div class="recommend__body__box-bottom clearfix">
                        <span class="fl"><%=i.date%></span>
                        <div class="fr recommend__body__box-categories">
                        <%for(const item of i.categories){%>
                            <a href="<%=item.path%>">#&nbsp;<%=item.name%></a>
                        <%}%>
                        </div>
                    </div>
                </div>
                <div class="recommend__body__box-bg cover lazy" data-bg="<%= i.img %>"></div>
            </div>
        <% } %>

    </div>
</div>