<div class="header-big" >
    <div class="header-big__left">
        <% for(const i of theme.icons) {%>
            <a class="tippy-right <%=i.icon%>" data-tippy-placement="right"
                data-tippy-content="<%=i.name ? i.name : `<img src='${i.img}' ${i.width && "style='width:" + i.width + "rem'"}>`%>" 
                style="font-size: <%=i.size || 2%>rem;" <%=i.url && `href=${i.url} target=_blank`%>> 
            </a>
        <%}%>
    </div>
    <div class="header-big__center">
        <a class="header-big__center__name" href="/">
            <% if(theme.logo.img) {%>
                <img src="<%= theme.logo.img %>" />
            <%}%>
            <% if(theme.logo.name) {%>
                <span><%=theme.logo.name%></span>
            <%}%>
        </a>
        <ul class="header-big__center__list">
            <% 
                const menu = theme.menu
                for(const key of Object.keys(menu)) {
                    const item = menu[key]
            %>
                <li>
                    <a class="header-big__center__list-name" data-tippy-placement="bottom" 
                    href="<%= item.url || '/' %>">
                        <%= item.name || key %><%-item.children && `<b>&nbsp;·</b>`%>
                    </a>
                    <% if(item.children){ %>
                    <div class="header-big__center__list-children">
                        <% for(const child of item.children) {%>
                            <a href="<%=child.url%>" target="_blank"><%=child.name%></a>
                        <% } %>
                    </div>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="header-big__right">
        <span class="iconfont icon-Sun"></span>
        <span class="iconfont icon-search"></span>
    </div>
</div> 